body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0c181c;
}

header {
  text-align: center;

  h1 {
    margin: 0.8rem;
    font-size: 4rem;
    color: whitesmoke;
  }
}

.loader {
  z-index: 1;
  width: 74px;
  height: 74px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.cards-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  text-align: center;
  justify-items: center;

  .pokemon-card {
    background-color: #317a71;
    border-radius: 0.4rem;
    width: 310px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;

    figure {
      margin: 0;

      img {
        width: 200px;
        height: 200px;
        background-color: #0c181c;
        border-radius: 0.4rem;
        padding: 1rem 2rem;
      }

      figcaption {
        margin: 0.8rem 0;
        font-size: 1.6rem;
        font-weight: bolder;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        color: #0c181c;
        -webkit-user-select: none;
        user-select: none;
      }
    }
  }

  .pokemon-card:hover {
    opacity: 0.8;
  }

  .pokemon-card:active {
    opacity: 0.4;
  }

  @media (max-width: 700px) {
    padding: 2rem 0.4rem;
  }
}

.buttons-container {
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
  gap: 0.3rem;

  .page-number-container {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #317a71;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.4rem;
  }

  button {
    margin: 0 0.2rem;
    border: none;
    padding: 0.8rem 1.5rem;
    background-color: whitesmoke;
    color: #0c181c;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    border-radius: 0.4rem;
    transition: all 0.3s;
  }

  button:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  button:active {
    background-color: #4e5658;
  }
}

.hidden {
  display: none;
}

footer {
  font-weight: bolder;
  margin: 0 2rem;
  color: whitesmoke;

  a {
    color: #317a71;
  }

  a:hover {
    color: #317a71;
  }
}
